Source: blankon-colour-palette
Section: graphics
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/syaimif/blankon-colour-pallete

Package: blankon-colour-palette
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Typical palette art team of Blankon
 This palette use for art team of Blankon for inkscape or gimp
