Source: palette-cinta
Section: graphics
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/syaimif/pallete-cinta
Vcs-Git: git@github.com:syaimif/pallete-cinta.git
Vcs-Browser: https://github.com/syaimif/pallete-cinta.git

Package: palette-cinta
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Typical palette art team of Blankon
 This palette use for art team of Blankon for inkscape or gimp
